# python
*.pyc
*~
__pycache__


# Env
.env
venv/
venv/

# database
db.sqlite3

# Static folder at project root
/static/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Viusal studio
.vscode/
.history/
*.code-workspace